h1 {
    background-color: #BC70B7;
}

.list-item {
    color: violet;
}

.heading {
    color: red;
}

#last-heading {
    background-color: brown;
}

#list {
    background-color: rgba(210, 105, 30, 0.6);

}